.videoContainer {
  position: fixed;
  /* bottom: 16px;
  right: 16px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px !important;
  height: 200px !important;
  /* width: 320px;
  height: 240px; */
  /* background-color: black; */
  z-index: 20;
  cursor: grab;
}

.selfVideoContainer {
  position: relative;

  .selfVideoDescriptor {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
    font-size: 12px;
    z-index: 1;
  }

  .selfEndCallButton {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}

.otherVideoContainer {
  position: relative;

  .otherVideoDescriptor {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
    font-size: 12px;
    z-index: 1;
  }
  .otherEndCallButton {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}
