.form {
  min-height: calc(100vh - 60px - var(--mantine-spacing-md));
  padding: 3rem;
  padding-right: 4rem;
  padding-left: 4rem;

  justify-content: center;
  flex-direction: column;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}