/* always scrollbar */
html {
  overflow-y: scroll;
}

.ql-toolbar.ql-snow {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  /* border-bottom: 1px solid var(--mantine-color-gray-2) !important; */
  border-bottom: none !important;
}

.yRemoteSelection {
  background-color: rgb(250, 129, 0, 0.5);
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
